.button {
  background-color: var(--purple);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 15px 30px;

  transition: all 0.3s ease-in-out;

  &:not([disabled]):hover {
    background-color: var(--dark-purple);
    transform: scale(1.1);
  }
}
