.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stats {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 10px 15px;
  background-color: #261864;
  border-radius: 7px;
}

.score {
  top: 50px;
}
