.instructions {
  background-color: #fff;
  max-width: 1000px;
  padding: 40px;
  margin: 40px 0px;
  border-radius: 8px;

  p {
    font-size: 1.125rem;

    & + p {
      margin-top: 20px;
    }

    span {
      color: var(--red);
      font-weight: 500;
    }

    a {
      color: blue;
    }
  }
}

@media (max-width: 576px) {
  .instructions {
    padding: 20px;
    margin: 40px 0px;

    p {
      font-size: 1.2rem;
    }
  }
}