.resultMessage {
  margin-top: 40px;
  text-align: center;
}

.resultStatisticsContainer {
  display: flex;
}

@media (max-width: 420px) {
  .resultMessage {
    margin-bottom: 40px;
  }

  .resultStatisticsContainer {
    flex-direction: column;
  }
}
