.statistic {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 60px 20px;
}

.value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  font-size: 4rem;
}

.text {
  color: #333;
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  .value {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 420px) {
  .value {
    width: 150px;
    height: 150px;
  }

  .statistic {
    margin: 10px 20px;

    &:last-child {
      margin-bottom: 40px;
    }
  }
}
