.stats {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  padding: 10px 20px;
  background-color: var(--purple);
  border-radius: 7px;
  font-size: 1.4rem;
}

@media (max-width: 576px) {
  .stats {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

  }
}