.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media (max-width: 1000px) {
  .question {
    margin-top: 60px;
  }
}

@media (max-width: 576px) {
  .question {
    margin-top: 20px;
  }
}